<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"> -->
    <%- include('../partials/head', {role: 'sip' } ) %>
</head>

<body>
    <!-- * LOADER SVG -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <%- include('../assets/svg') %>
    </svg>
    <!-- * END LOADER SVG -->


    <!-- * SIDEBAR -->
    <nav>
        <%- include('../partials/sideBar') %>
    </nav>
    <!-- * END SIDEBAR -->



    <button class="btn bi">adsdsadsds</button>


    <!-- * SCRIPT -->
    <%- include('../partials/script') %>
</body>

</html>